p 
{
    color:black;
    font-size:36px;
}
button 
{
border:20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: large;
}
button:hover
{
background-color:orangered;
}

