hero-image
{
background-image:src="url(https://images.prismic.io/trustedhousesitters/73c75e56-9eaf-4eef-a7b2-2d782286c9a3_can+cats+have+coffee.jpg?auto=compress,format&rect=0,0,1920,800&w=1920&h=800)";
background-repeat: no-repeat;
background-position:center;
height:50%;
width:50%;
}

p
{
    color:white ;
    font-size:36px;
}
button 
{
border:20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: large;
background-color:orangered;
}
body, html
{
display: contents;
justify-content: center;
background-color:black;
}
